.card-estatistica {
  background-color: var(--cor-card);
  border-radius: var(--raio-borda-grande);
  padding: 24px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid var(--cor-borda);
}

.card-estatistica-titulo {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--cor-texto-sec);
}

.card-estatistica-valor {
  font-size: 2rem;
  font-weight: 700;
  color: var(--cor-texto);
}
